/*  --------- FORMATO GERAL ------------ */
body{
   font-family: arial, helvetica, sans-serif; 
    margin: auto;
    background-color: #F4F4F4;
    }

p {
  text-align: justify;
}

/* BOTÕES */
button{
    padding-right: 30%; 
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background-color: #373737;
    text-align: center;
    padding: 20px;
    left: 50%;
    margin-right: -50%;
    width: 150px;
    margin: 5px; 
    margin-bottom: 20px;
    margin-left: 4.9%;
    margin-top:38%;
    color: white;
}
    
/*  ---------  TOPO DA PÁGINA ------------ */

#tp{
    background-color:white;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    height: 100%;
}

.toparea{
    width: 100%;
    height: 100%;
}

/* MENU SCROLL */
.menu_mluv_retratil {
    width: 100%; 
    height: 65px;
    display: block;
    background: #373737;
    position: fixed;
    top: -65px;
    z-index: 100;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;}

.menu_mluv_retratil.mostrar {
    top: 0; 
    position: fixed;}

.menu_mluv_retratil nav {
    margin: 0 20px; 
    padding: 0; 
    list-style: none;
    float: left}

.menu_mluv_retratil nav a {
    line-height: 65px; 
    color: #DCD0C0; 
    text-transform: uppercase;
    padding: 0 10px; 
    text-decoration: none; }

.menu_mluv_retratil nav a:hover {
    color:#C0B283;}

.menu_mluv_retratil nav a img{
    margin-top:10px;
    float: left;}



/* SEÇÃO INFORMAÇÕES*/
#info{
    background-color: #F4F4F4;
    height: 500px;
}

#info div{
  width: 55%;
  margin: 0 auto;
  padding-top: 100px; 
}

#info div img{
  float: right;
  margin-top: 15px; 
}

#info div article{
  float: left;
  width: 600px;
  font-family: Open Sans, 14;
}

/* SEÇÃO ARQUITETURA*/
#arquitetura{
    background-color: #DCD0C0;
    height: 500px;
}

.conteudo{
  width: 80%;
  margin: 0 auto;
  padding-top: 80px; 
}

.conteudo p{
  width: 550px;
  float: right;
}

#div1{
  width: 660px;
  margin: 0 auto;
  height: 150px;
}

#div2{
  width: 660px;
  margin: 0 auto;
  height: 200px;
}
/* SEÇÃO QUEM FOI */
#quemfoi{
    height: 500px;
}

.conteudo2{
  width: 55%;
  margin: 0 auto;
  padding-top: 40px;
}

.conteudo2 article{
  width: 700px;
  float: right;
}

.conteudo2 img{
  margin-top: 18px;
  margin-left: 90px;
}

/*SEÇÃO GALERIA DE IMAGENS*/
#galeria{
    background-color: #373737;
    color: #F4F4F4;
    height: 100%;
}

#areagaleria{
  padding-top: 8%;
}

.gallery-container {
  width: 90%;
  position: relative;
  margin: 0 5%;
  background: #333;
  padding: 2px;
}
  @media (min-width: 480px) {
      .gallery-container {
        width: 800px;
        margin: auto;
      }
  }

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.1);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.imgslide {
  width: 100%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media (max-width: 768px) {
  .numbertext {
    top: 15px;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* SEÇÃO DA LOCALIZAÇÃO*/
#localizacao{
    background-color: #F4F4F4;
    height: 400px;
    padding-top: 50px;}

.localizacao{
    float:right;
    margin-right: 25%;
} 

.infolocal{
    float:left;
    margin-left: 25%;
    width:450px;
    height:200px;
}

/* --------------   footer -------------- */
footer {
  border-top: 1px solid #333;
  background-color: #373737;
  height: 200px;
  width: 100%;
  color:#F4F4F4;
}

footer article{
  margin-left: 60%;
  margin-top: 40px;
}

footer article p{
  font-size: 10;
}

footer img{
  float:left;
  margin-top: 40px;
  margin-left: 10%;
}